hidden = ["target", ".cargo"]
modules = ["rust-stable:v4-20240117-0bd73cd"]
run = "cargo run -- ./config/development.conf"

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "cargo run -- ./config/development.conf"]

[[ports]]
localPort = 8080
externalPort = 80
